# The only non-standard Python library needed
# is the Python Airtable library. Depending
# on your setup you may need to install this
# with the --break-system-packages option if
# not installing in a virtual environment.
pyairtable